* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: rgba(161, 225, 168, 1);
}

a {
  color: #000;
}

/* header */

.header {
  background-color: rgba(27, 95, 66, 1);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  opacity: 0.8;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: rgba(27, 95, 66, 1);
}

.header li a {
  color: white;
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  color: #000;
  background-color: #f4f4f4;
}

.header .logo {
  color: white;
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
/* fin de la barre de nav */

#imagePrincipaleCarte {
  padding-top: 60px;
  background: url(./images/grandes\ images/sallerestaurant2.jpg) no-repeat fixed
    50% 50%;
  background-size: cover;
  height: 20em;
}

#imagePrincipaleCarte h1 {
  font-family: "Dancing Script", cursive;
  text-align: center;
  color: antiquewhite;
  font-size: 6em;
  margin-top: 60px;
  text-shadow: 1px 3px 2px black;
}

h1 {
  color: red;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 25px;
}
.entreesPlats {
  display: flex;
  justify-content: center;
}
.entrees {
  border: 2px solid;
  width: 320px;
}
.entrees h2 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
}
.entrees h3 {
  text-align: center;
}
.entrees img {
  padding-left: 15%;
  margin-bottom: 25px;
}
.plats {
  border: 1px solid;
  width: 320px;
  margin-left: 5em;
  border-radius: 15px;
  background-color: aqua;
}
.plats h2 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
}
.plats h3 {
  text-align: center;
}
.plats img {
  padding-left: 15%;
  margin-bottom: 25px;
}

.dessertsBoissons {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.desserts {
  border: 1px solid;
  width: 320px;
  border-radius: 15px;
}
.desserts h2 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
}
.desserts h3 {
  text-align: center;
}
.desserts img {
  padding-left: 15%;
  margin-bottom: 25px;
}
.boissons {
  border: 2px solid;
  width: 320px;
  margin-left: 5em;
}
.boissons h2 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
}
.boissons h3 {
  text-align: center;
}
.boissons img {
  padding-left: 15%;
  margin-bottom: 25px;
}

footer {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 25px;
}

/* §§§§§§§§§§§§§§§§§§§§§debut du responsive§§§§§§§§§§§§§§§§§§§§§§§ */
@media (max-width: 730px) {
  .entreesPlats {
    flex-direction: column;
  }
  .plats {
    margin-left: 0;
    margin-top: 15px;
  }
  .dessertsBoissons {
    flex-direction: column;
  }
  .boissons {
    margin-left: 0;
    margin-top: 15px;
  }
  footer {
    word-wrap: break-word;
  }
}
