* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: rgba(161, 225, 168, 1);
}

a {
  color: #000;
}

/* header */

.header {
  background-color: rgba(27, 95, 66, 1);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  opacity: 0.8;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: rgba(27, 95, 66, 1);
}

.header li a {
  color: white;
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  color: #000;
  background-color: #f4f4f4;
}

.header .logo {
  color: white;
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
/* !!!!!!!!!!image page d'accueil!!!!!!!!!!!!!!!!!!! */

#imagePrincipale {
  padding-top: 60px;
  background: url(./images/grandes\ images/sallerestaurant.jpg) no-repeat fixed
    50% 50%;
  background-size: cover;
  /* height: 799px; */
  height: 50em;
}

#imagePrincipale h1 {
  font-family: "Dancing Script", cursive;
  text-align: center;
  color: antiquewhite;
  font-size: 6em;
  margin-top: 100px;
  text-shadow: 1px 3px 2px black;
}

#premierTrait {
  height: 1px;
  width: 25%;
  margin: -3px auto;
  background-color: #fffae1;
  box-shadow: 1px 3px 2px black;
}

.suggestion {
  margin: 45px 30px 20px 30px;
  border: 2px solid;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 5px #000000;
}

.suggestion h1 {
  background-color: rgba(184, 248, 190, 1);
  color: rgb(250, 94, 54);
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-top: 25px;
  margin-bottom: 30px;
  padding: 15px 5px 15px 5px;
  border-radius: 15px;
}
.suggestion h2 {
  text-align: center;
  margin-top: 35px;
  color: white;
}
.entre {
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  margin-top: -10%;
  margin-bottom: 10%;
}
.salade {
  border-radius: 15px;
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    10px -12px 33px 18px rgba(0, 0, 0, 0);
}
.plat {
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  margin-top: -10%;
  margin-bottom: 10%;
}
.dessert {
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  margin-top: -10%;
  margin-bottom: 5%;
}

.button {
  border: none;
  font-size: 1.2em;
  border-radius: 8px;
  background-color: #fffae1;
  width: 50%;
  margin-left: 25%;
  margin-top: 25px;
  margin-bottom: 30px;
  padding: 15px 5px 15px 5px;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.button a {
  color: red;
  text-decoration: none;
  text-align: center;
  font-size: 1.5em;
}

.button:hover {
  background-color: red;
}
.button a:hover {
  color: white;
  background-color: red;
}

#secondTrait {
  height: 1px;
  width: 25%;
  margin: -3px auto;
  background-color: #fffae1;
  box-shadow: 1px 3px 2px black;
}
.contact {
  margin: 45px 30px 20px 30px;
  /* border: 2px solid; */
  padding: 20px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 5px #000000;
}
.contact h1 {
  background-color: #ffffff;
  color: #a1e1a8;
  text-align: center;
  font-size: 2em;
  width: 50%;
  margin-left: 25%;
  margin-top: 25px;
  margin-bottom: 30px;
  padding: 15px 5px 15px 5px;
  border-radius: 15px;
}
.contact h2 {
  padding-bottom: 15px;
  letter-spacing: 0.2em;
  size: 7em;
  font-weight: bold;
}
.trouvez {
  display: flex;
  justify-content: center;
}
.adresse {
  margin-top: 55px;
  margin-left: 25px;
}
.map {
  margin-left: 125px;
  margin-bottom: 15px;
}
.contactez {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.contactez a {
  text-decoration: none;
  margin-top: 15px;
}
.contactez a p {
  font-weight: bold;
  background-color: rgb(164, 245, 139);
  border-radius: 5px;
  padding: 5px;
}
.contactez a p:hover {
  color: #a1e1a8;
  background-color: black;
}

.reseaux {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* !!!!!!!!!!!!RESPONSIVE§§§§§§§§§§§§§§§§§§§§§§§§§§§§§ */
@media (max-width: 600px) {
  .suggestion {
    margin: 0;
    border: 2px solid;
  }

  .suggestion h1 {
    width: auto;
    margin-left: 5%;
    margin-top: 25px;
    margin-bottom: 30px;
    padding: 0;
  }

  .salade {
    width: 250px;
  }
  .entre {
    margin: 0;
  }
  .pad {
    width: 250px;
  }
  .plat {
    margin: 0;
  }
  .mangue {
    width: 250px;
  }
  .dessert {
    margin: 0;
  }
  .button {
    width: auto;
    margin-left: 1%;
    margin-top: 25px;
    margin-bottom: 30px;
    padding: 0;
  }
  .trouvez {
    flex-direction: column;
  }
  .map {
    margin-left: 0px;
    margin-top: 15px;
    width: 150px;
  }
  .reseaux {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 400px) {
  .map {
    margin-left: -40px;
    width: 100px;
    justify-content: center;
  }
}
